body {
  background-color: black;
  color: white;
}

#drop-area {
  width: 350px;
  height: 150px;
  border: 2px dashed #820000;
  border-radius: 8px;
  text-align: center;
  line-height: 150px;
  color: #820000;
  margin: 40px auto;
  cursor: pointer;
  transition: background 0.2s;
  position: relative;
}
#drop-area.highlight {
  background: #e9f5ff;
}
#drop-area p {
  margin: 0;
  line-height: normal;
  display: inline;
}
#browse {
  text-decoration: underline;
  color: #820000;
  cursor: pointer;
}
#preview {
  text-align: center;
  margin-top: 5px;
	display: none;
	justify-content: center;
}

#container {
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 10px;
}

canvas {
  border: 1px solid #820000;
}

#buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

input[type='range'] {
  overflow: hidden;
  width: 80px;
  -webkit-appearance: none;
  background-color: #7d3232;
  border-radius: 10px;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 15px;
  -webkit-appearance: none;
  color: #7d3232;
  margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
  width: 14px;
  -webkit-appearance: none;
  height: 14px;
  cursor: ew-resize;
  background: #820000;
  border-radius: 15px;
  border: 1px solid #ffffff;
  box-shadow: -80px 0 0 80px #7d3232;
}


p {
	margin: 0;
}